.root {
	-fx-background-color: #303030;
}


.text-area{
    -fx-background-color: #303030, #303030;
    -fx-text-fill: #FFF;
    -fx-font-size: 12pt;
}

.text-area .content {
	-fx-background-color: #424242;
}

.button {
	-fx-background-color: #303030;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;
	
	-fx-border-color: #2196F3;
	-fx-border-width: 0 0 4 0;
}
.button:hover {
	-fx-background-color: #424242;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;
	
	-fx-border-color: #2196F3;
	-fx-border-width: 0 0 4 0;
}
.button:pressed {
	-fx-background-color: #424242;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;
	
	-fx-border-color: #F44336;
	-fx-border-width: 0 0 4 0;
	-fx-padding: 15 8;
}
.button.selected {
	-fx-background-color: #303030;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;
	
	-fx-border-color: #76FF03;
	-fx-border-width: 0 0 4 0;
	-fx-padding: 15 8;
}
.button.crackButton {
	
}
