.root {
	-fx-background-color: #F48FB1;
}


.text-area{
    -fx-background-color: #F48FB1, #F48FB1;
    -fx-text-fill: #FFF;
    -fx-font-size: 12pt;
}

.text-area .content {
	-fx-background-color: #E91E63;
}

#keyField {
	-fx-background-color: #E91E63;
	-fx-text-fill: #FFF;
	-fx-border-color: #FFF;
	-fx-border-width: 2;
}

#cipherpanel {
	-fx-background-color: #E91E63;
}

.button {
	-fx-background-color: #F48FB1;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;

	-fx-border-color: #2196F3;
	-fx-border-width: 0 0 4 0;
}
.button:hover {
	-fx-background-color: #E91E63;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;

	-fx-border-color: #2196F3;
	-fx-border-width: 0 0 4 0;
}
.button:pressed {
	-fx-background-color: #E91E63;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;

	-fx-border-color: #F44336;
	-fx-border-width: 0 0 4 0;
	-fx-padding: 15 8;
}
.button.selected {
	-fx-background-color: #F48FB1;
	-fx-text-fill: #FFF;
	-fx-padding : 15 8;
	-fx-font-weight: bold;
	-fx-background-radius: 0px;

	-fx-border-color: #76FF03;
	-fx-border-width: 0 0 4 0;
	-fx-padding: 15 8;
}
.button.crackButton {

}
